<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logado</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Dados dos Clientes</h1>
    <table>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Status</th>
        <th>Valor</th>
        <th>Forma de Pagamento</th>
        <th>Parcelas</th>
        <th>Acesso</th>
        <th>Mensagem</th>
      </tr>
      {% for index, cliente in clientes.iterrows() %}
      <tr>
        <td>{{ cliente['Nome'] }}</td>
        <td>{{ cliente['Email'] }}</td>
        <td>{{ cliente['Status'] }}</td>
        <td>{{ cliente['Valor'] }}</td>
        <td>{{ cliente['Forma_Pagamento'] }}</td>
        <td>{{ cliente['Parcelas'] }}</td>
        <td>{{ cliente['Acesso'] }}</td>
        <td>{{ cliente['Mensagem'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
